@{
    ViewData["Title"] = "Confirmação de apagar o contato";
}

<div class="text-center">
    <h1>Realmente deseja apagar o contato ? (Nome do contato)</h1>
</div>

<div>
    <a class="btn btn-primary" role="button">Cancelar</a>
    <a class="btn btn-danger" role="button">Confirmar</a>
</div>